<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
<parameter name="browser" value="G:\\Software\\Selenium\\chromedriver_74\\chromedriver_win32\\chromedriver.exe"></parameter>
<parameter name="url" value="http://www.newtours.demoaut.com/mercurywelcome.php"></parameter>
    
  <test thread-count="5" name="Test">
  <parameter name="timeoutseconds" value="15" ></parameter>
  <parameter name="usernm" value="Suvidyap1"></parameter>
  <parameter name="passwd" value="P@ssword1"></parameter>   
  
  
    <classes>
      <class name="com.Modules_TestNG.Launch">
      <methods>
      <include name="executeLaunch"></include>
      </methods>
     </class>
    
       <class name="com.Modules_TestNG.LoginDemo">
       <methods>
      <include name="executeLogin"></include>
      </methods>
      </class>
        
        
       </classes>
  
  </test> <!-- Test -->
</suite> <!-- Suite -->
